.projectCont {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.cardSection {
  justify-content: space-between;
  width: 75%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 40%;
  min-height: 550px;
  height: max-content;
  padding: 17px;
  color: white;
  background-color: #0c0c0c8d;
  backdrop-filter: blur(5px);
  background-position: 0 0, 10px 10px;
  box-shadow: 
    0 0 5px 2px rgba(20, 255, 236, 0.2),
    0 0 10px 5px rgba(20, 255, 236, 0.1), 
    0 0 20px 10px rgba(20, 255, 236, 0.05), 
    0 0 3px 1px rgba(255, 255, 255, 0.3),
    0 0 8px 3px rgba(255, 255, 255, 0.2), 
    0 0 15px 5px rgba(255, 255, 255, 0.1);
  border: 2px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}




.card.expanded .aboutProject {
  max-height: none;
}

.card .main-content {
  flex: 1;
}

.card .heading {
  font-size: 24px;
  margin: 0 auto 1rem;
  font-weight: 600;
}

.categories, .categoriesimg {
  margin: 0 auto 1rem auto;
  flex-direction: column; 
  object-fit: cover;
  width: 100%;
  display: flex;
  border-radius: 8px;
}

.aboutProject {
  text-align: left;
  overflow: hidden;
  max-height: 100px;
  transition: max-height 0.5s ease;
  position: relative;
}

.aboutProject.expanded {
  max-height: none;
}

.aboutProject p {
  margin: 0;
}

.aboutProject::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px; 
  background: linear-gradient(rgba(33, 33, 33, 0), #212121);
}

.aboutProject.expanded::before {
  background: linear-gradient(rgba(33, 33, 33, 0), rgba(33, 33, 33, 0));
}


.card .cardfooter {
  cursor: pointer;
  font-weight: 600;
  color: #474747;
  margin-right: 4px;
}

.cardfooter a {
  text-decoration: none;
  color: #717171;
}

.card button {
  width: 8rem;
  margin: 0 auto;
  margin-top: 8px;
  background-color: #14FFEC;
  color: #000000;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #ffffff;
}


@media only screen and (max-width: 1000px) {
  .cardSection {
    width: 95%;
  }

  .card {
    min-height: 420px;
    width: 100%;
  }
}