@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #212121;
}

::-webkit-scrollbar-thumb {
  background-color: #14FFEC;
  border-radius: 6px;
  border: 3px solid #212121;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #14FFEC #212121;
}


body::-webkit-scrollbar {
  display: none;
}





/* Fonts */
@font-face {
  font-family: 'font1';
  src: url('./Assets/fonts/acorn.woff') format('woff');
}

@font-face {
  font-family: 'font2';
  src: url('./Assets/fonts/gt.woff') format('woff');
}

/* General Styles */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #08090e;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'font2';
}

.backimg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}



/* Loading Container */
.loading-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}


/* Navbar */
.fl{
  color: #14FFEC;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0);
  padding: 10px 20px;
  font-size: 18px;
  transition: background-color 0.3s, backdrop-filter 0.3s, padding 0.3s, font-size 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100%;
  font-size: xx-large;
  font-family: font1;
  transition: color 0.3s;
}

.navbar ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5vw;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: flex;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar a {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a,
.logo {
  color: white;
}

.navbar.opaque {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
}

.navbar a:hover,
.navbar a.active {
  color: #14FFEC;
  scale: 1.08;
  transition: all linear 0.3s;
}


/* Hero Section */
.mainContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.mainSection {
  margin: auto;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
}

.welcome {
  user-select: none;
  display: flex;
  flex-direction: column;
  margin: 4rem auto 0 auto;
  /* height: 100%; */
}

.codingGuy {
  width: 600px;
  margin: 1rem auto 0 auto;
}

.name {
  margin: 0 1.5rem;
  font-family: 'font1';
  color: #14FFEC;
  mix-blend-mode: difference;
  font-size: 6rem;
}

.wave {
  margin: 0 1.5rem;
  width: 4rem;
}

.heroSection h1 {
  margin: 0;
  font-size: 4rem;
  color: #14FFEC;
}

.typedAni {
  font-size: 2rem;
  margin: 1rem 1.6rem;
  color: white;
  width: 100%;
  height: 100%;
}



/* About */
.aboutContainer {
  min-height: 100vh;
  display: flex;
  margin: auto;
  width: 75%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #ffffff;
  font-family: font2;
}

.left-div {
  width: 40%;
}

.rightWrapper {
  border: none;
  padding: 30px;
  border-radius: 4%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.right-div{
  width: 55%;
}

.about-title {
  color: #14FFEC;
  font-size: 3rem;
  font-family: font1;
  margin-bottom: 30px;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 600px;
}

.highlight {
  color: #14FFEC;
  font-weight: bold;
}

.education,
.location,
.hobbies-title {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 20px 0;
}

.smallAboutImg {
  display: none;
}

.icon {
  width: 30px;
  margin-right: 10px;
  color: #14FFEC;
}

.hobbies {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  max-width: 800px;
}

.hobbies-title {
  font-family: font1;
  color: #14FFEC;
}

.hobby {
  display: flex;
  align-items: center;
  margin: 10px 20px;
  /* font-size: 1.2rem; */
}




/* Skills Section */

.skills-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-container {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}


.skill-left,
.skill-right {
  border: none;
  margin: auto;
  border-radius: 4%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.skillTitle {
  width: 100%;
  text-align: center;
  margin: 1rem;
}

.skill-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-icon {
  width: 74%;
}



/* heatmap  */
.react-calendar-heatmap .color-active {
  fill: rgb(69, 211, 69);
}

.react-calendar-heatmap .color-inactive {
  fill: rgb(141, 141, 141);
}

.heatmap{
  padding: 2rem;
}

.map-title {
  font-size: 1.5rem;
  font-family: font1;
}


/* Contact Section */
.social-links {
  line-height: 4;
  position: fixed;
  left: 0;
  top: 30vh;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
  text-align: center;
}

.social-links a {
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social-links a:hover {
  color: #14FFEC;
}

.social-links svg {
  cursor: pointer;
}

/* Footer Section */
.footer {
  bottom: 0;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: #14FFEC;
  padding: 20px;
  text-align: center;
}


.footer-bottom {
  margin-top: 25px;
}

.footer-bottom p {
  color: #808080;
  margin: 0;
  font-size: 14px;
}


/* Media Queries */
@media only screen and (max-width: 1000px) {
  .navbar ul {
    display: none;
  }

  .navbar ul.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    background: rgba(4, 4, 4, 0.8);
    padding: 10px 0;
    border-radius: 0 0 1rem 1rem;
  }

  .navbar ul.open li {
    margin-right: 0;
    margin-bottom: 10px;
  }


  .codingGuy {
    width: 75%;
  }

  .name {
    font-size: 4rem;
  }

  .wave {
    width: 3rem;
  }

  .heroSection h1 {
    font-size: 3rem;
  }

  .typedAni {
    font-size: 1.5rem;
  }

  .mainSection {
    width: 100%;
    flex-wrap: wrap;
  }

  .aboutContainer {
    flex-direction: column;
    width: 100%;
  }

  .left-div {
    width: 100%;
  }

  .rightWrapper {
    padding: 10px;
  }

  .right-div {
    width: 100%;
  }

  .partition {
    width: 100vw;
  }

  .icon {
    width: 40px;
  }

  .smallAboutImg {
    display: block;
    width: 60px;
  }

  .headerAbout {
    gap: 10px;
    display: flex;
  }

  .profile-image {
    display: none;
  }

  .skills-container {
    width: 90%;
    flex-direction: column;
    gap: 1.5rem;
  }

  .skill-left,
  .skill-right {
    width: 100%;
  }

  .skill-card {
    padding: 8px 2px;
  }

  .skill-icon {
    width: 50%;
  }

  .heatmap{
    padding: 5px;
  }

  .linkss {
    width: 70vw;
  }

  .social-links {
    line-height: 0;
    padding: 30px;
    position: relative;
    left: 0;
    top: 0;
    background-color: #14FFEC;
    display: flex;
    flex-direction: row;
    border-radius: 20px 20px 0 0;
    justify-content: center;
  }

  .social-links a {
    color: #000000;
  }

  .social-links a:hover {
    color: #ffffff;
  }

  .conButton {
    display: block;
  }

  .footer {
    backdrop-filter: blur(1px);
  }
}